div {
  background-color: lightblue;
}

#banner{
width: 3037
height: 300px;
background-color: navy:

}

nav{
	width: 95%;
	height: 75px;
	background-color:white
}*/

#lightblue{
		background-color:	lightblue;
		width:	800px;
		height:	400px
		position:	absolute;
		left:	400px;
		top:	200px;